{% extends 'base.html' %}
{% block content %}
<h1 class="d-flex justify-content-center">Supprimer votre critique</h1>
<div class="border mx-5">
    <p>Vous souhaitez supprimer la critique liée à :</p>
    <p class="mx-5 mt-1">{{ review.ticket.title }}</p>
    <p class="mx-5 my-1">{{ review.ticket.description }}</p>
    {% if review.ticket.image %}
    <p class="mx-5 my-1"><img src="{{ review.ticket.image.url }}" alt="{{ review.ticket.title }}"></p>
    {% endif %}
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
        <p class="d-flex justify-content-center"><button type="submit" class="btn btn-secondary btn-lg ">Confirmer</button></p>
    </form>
</div>
{% endblock content %}