{% extends 'base.html' %}

{% block content %}
<h1 class="d-flex justify-content-center">Bienvenue à l'accueil du site LitReview</h1>

<div class="d-flex justify-content-around">
    <a href="{% url 'review:add_review_ticket' %}"><button type="button" class="btn btn-secondary btn-lg">Créer une critique</button></a>
    <a href="{% url 'review:add_ticket' %}"><button type="button" class="btn btn-secondary btn-lg">Demander une critique</button></a>
</div>

<div class="container-fluid">
    <div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% if post.number_reviews == 0 %}
                <div class="container-fluid my-2">
                        {% include 'review/ticket_snippet.html' with ticket=post %}
                </div>
                {% endif %}
            {% elif post.content_type == "REVIEW" %}
                <div class=" col-11 container-fluid bg-info border m-5">
                {% include 'review/review_snippet.html' with review=post%}

                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

