{% extends 'base.html' %}

{% block content %}
<h1>Bienvenue à l'accueil du site LitReview</h1>

<a href="{% url 'review:add_review_ticket' %}"><button type="button" class="btn btn-secondary">Créer une critique</button></a>
<a href="{% url 'review:add_ticket' %}"><button type="button" class="btn btn-secondary">Demander une critique</button></a>

<div class="container-fluid">
    {% for ticket in tickets %}
    <div class="bg-light border m-5">
        <p>{{ ticket.user }} demande une critique: {{ ticket.time_created}}</p>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <p><img src="{{ticket.image.url}}" alt="{{ticket.title}}"></p>
        <div class="bg-success">
        {% if not ticket.review_ok %}
            <a href="{% url 'review:add_review' ticket.id %}"><button type="button" class="btn btn-secondary">Créer une critique</button></a>
        {% endif %}
        {% for review in reviews %}
            {% if review.ticket.id == ticket.id %}
                <p>Par {{review.user}} le {{review.time_created}}</p>
                <p>{{review.headline}} : {{review.rating}}</p>
                <p>{{review.body}}</p>
            {% endif %}
        {% endfor %}

        </div>
    </div>


    {% endfor %}
</div>

{% endblock %}

