{% block content %}
<div class=" col-11 container-fluid bg-info border m-5">
    <div class="border">
    <p>
        {% if review.user == request.user %}
        Par vous
        {% else %}
        Par {{review.user}}
        {% endif %}
        le {{review.time_created}}</p>
    <p>{{review.headline}} : {{review.get_rating_star}}</p>
    <p>{{review.body}}</p>
    </div>
    <div class="border">
    {% for rev in review.ticket.review_set.all %}
        {% if rev.time_created < review.time_created %}
        <p>
            {% if rev.user == request.user %}
            Par vous
            {% else %}
            Par {{rev.user}}
            {% endif %}
            le {{rev.time_created}}</p>
        <p>{{rev.headline}} : {{rev.get_rating_star}}</p>
        <p>{{rev.body}}</p>
        {% endif %}
    {% endfor %}
    </div>
    <div class="container-fluid m-2">
    {% include 'review/ticket_snippet.html' with ticket=review.ticket %}

    </div>
</div>
{% endblock content %}