{% block content %}
 <div class="col-6 bg-light d-flex-row justify-content-center mx-5 p-1 border border-dark">
        <p>{{ ticket.user }} demande une critique: {{ ticket.time_created}}</p>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <p class="m-2"><img src="{{ticket.image.url}}" alt="{{ticket.title}}"></p>

        {% if not ticket.review_set.all %}
     <a class="d-flex justify-content-center mt-3" href="{% url 'review:add_review' post.id %}"><button type="button" class="btn btn-secondary">Créer une critique</button></a>
        {% endif %}
 </div>
{% endblock content %}
